/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #6ca1df;
    --fundo-card: #ffffff;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
    background-color:var(--fundo-principal);
    color: var(--texto);
}
nav#menu a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 12px 14px;
    border-radius: 6px;
    transition: 0.5s;
}
nav#menu a:hover{
    background-color: rgba(255, 255, 255, 0.644);
    color: var(--texto);
}
nav#menu ul{
    background-color: var(--destaque);
    list-style: none;

    display: flex;
    gap: 6px;
    justify-content: end;
    padding: 12px;
}
